<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PETSHOP MUNDO CÃO</title>
</head>
<body>
<h1>Petshop Mundo Cão</h1>

<h2>Integrantes e RGM</h2>
<p>Edigar Maia dos Santos - RGM: 29153433</p>
<p>Carlos Eduardo F. Lages - RGM: 30187311</p>

<br><br>
<h1> Sobre o projeto do Petshop</h1>
<p>O o objetivo é apresentar o no petshop, nossos serviços e falar um pouco da nossa empresa.<br>
Estamos sempre nos dedicando para cuidar do seu bichinho como se fosse um de nós!</p>
<br>

<h1>Intruções de uso do nosso site</h1>

<h2>Página de saudação</h2>
<p>Nessa página, o usuário vai digitar na barra de endereço do navegador, <b>http://localhost:3500/saudacao/ seguido do nome do seu animal.</b></p>
<p><b>Exemplo: http://localhost:3500/saudacao/Ted</b></p>
<p>Onde Ted é o nome do seu animal, e será mostrado na tela uma saudação para seu animal.</p>
<br>


<h2>Página nossos serviços</h2>
<p> Para acessar a pagina nossos serviços você pode <a href="servicos">clicar aqui</a> ou acessar pelo navegador o seguinte endereço: <b>http://localhost:3500/servicos</b></p>

<br>

<h2> Página quem somos</h2>
<p>Para saber mais sobre a nossa empresa você pode acessar a página quem somos <a href="quemsomos">clicando aqui</a> ou através da barra de endereço do navegador
digitando o seguinte endereço: <b>http://localhost:3500/quemsomos</b></p>
</body>
</html>