<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP MUNDO CÃO - SAUDAÇÃO</title>
</head>

<body>
<h1>Quem somos</h1>
<p>Somos uma equipe apaixonada por animais e comprometida em fornecer os melhores cuidados para seus companheiros peludos.
    No nosso pet shop, você encontrará uma ampla variedade de produtos e serviços para atender às necessidades de seus animais de estimação.
    Nosso objetivo é proporcionar um ambiente amigável e acolhedor, onde tanto você quanto seus animais de estimação se sintam bem-vindos.<br>
    Trabalhamos com profissionais experientes e dedicados que estão sempre prontos para oferecer orientações e cuidados personalizados para
    garantir a saúde e o bem-estar dos seus amigos de quatro patas. Estamos comprometidos em criar uma parceria duradoura com nossos clientes e seus animais de estimação,
    tornando-nos sua primeira escolha para todas as necessidades relacionadas aos cuidados com os animais. No nosso pet shop,
    acreditamos que cada animal de estimação merece ser tratado com amor, respeito e atenção individualizada. Junte-se a nós na jornada de proporcionar uma
    vida feliz e saudável para seus amados amigos peludos.</p>

</body>
</html>