<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOSSOS SERVIÇOS</title>
</head>
<body>
<h1>Petshop Mundo Cão</h1><br>
<h1>Nossos serviços</h1><br>

<h2>Banho e Tosa</h2>
<p>Usamos produtos das melhores marcas que existem no mercado para deixar seu Pet sempre lindo com pêlos sedosos e muito cheiroso.

<h2>Spa Relaxante</h2>
<p> Nossos banhos são especiais, com controle eletrônico da temperatura da água, garantindo que seu pet desfrute de uma experiência relaxante e confortável.
  É um mimo que ele vai adorar!
</p>

<h2>Banho seguro</h2>
<p>O banho é uma experiência segura e cuidadosa, com gravação por câmeras e supervisão constante por veterinários experientes.
  A equipe altamente qualificada está sempre pronta para atender às necessidades únicas do pet, garantindo a tranquilidade que o tutor busca e o tratamento
  especial que o amigo peludo merece!</p>
<br>
<h2>Exames de laboratório</h2>
<p>Além dos serviços veterinários, você também pode disponibilizar para os seus clientes a realização de exames de laboratório.
  Concentrar vários tipos de serviços em seu petshop pode melhorar seu atendimento ao cliente, contribuindo com a fidelização, aumento de lucratividade e alcance de metas.
  Então, vale a pena investir no oferecimento de uma diversidade de serviços, como os exames laboratoriais.</p>
</body>
</html>